.status {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  min-width: 100px;
  height: to-rem(25px);
  border-radius: 4px;

  font-size: to-rem(10px);
  font-weight: 700;
  
  text-align: center;

  padding: 6px 8px;

  &.status--active {
    background: #d3f4ce;

    color: #4f8172;
  }

  &.status--inactive {
    background: #f4d9ce;

    color: #814f4f;
  }

  &.status--waiting {
    background-color: #fdf3cc;

    color: #694912;
  }

  &.status--sketch {
    background-color: #bcceec;

    color: #295aaa;
  }

  &.status--pending {
    background-color: #ffefe7;

    color: #ee783c;
  }

  &.status--imported {
    background-color: #e7eaff;

    color: #3c58ee;
  }
}
