.table-section {
  padding: to-rem(27px) to-rem(32px) to-rem(23px);

  &.table-section--client {
    .table-section__body .table-section__table tbody td {
      &:nth-child(1) {
        padding-right: to-rem(92px);

        padding-top: to-rem(22px);
      }

      &:nth-child(2) {
        padding-right: to-rem(48px);
      }

      &:nth-child(3) {
        padding-right: to-rem(33px);
      }

      &:nth-child(4) {
        padding-right: to-rem(60px);
      }
    }
  }

  &.table-section--taker {
    .status {
      min-width: 158px;
    }

    .table-section__body .table-section__table tbody td {
      &:nth-child(1) {
        padding-right: to-rem(57px);

        padding-top: to-rem(22px);
      }

      &:nth-child(2) {
        padding-right: to-rem(48px);
      }

      &:nth-child(3) {
        padding-right: to-rem(44px);
      }
    }
  }

  .table-section__header {
    margin-bottom: to-rem(35px);

    h2 {
      margin-bottom: to-rem(14px);
    }

    .button__icon--left-side {
      margin-left: 1rem;
    }

    .button--action {
      margin-right: 1rem;
      min-width: to-rem(160px);

      .button--action__icon {
        margin-right: to-rem(12px);
      }
    }
  }

  .table-section__body {
    .table-section__table {
      width: 100%;
      margin-top: 1rem;

      .input-field {
        margin-bottom: 0;
      }

      thead th {
        font-size: to-rem(10px);
        font-weight: 700;
        color: palette("text", "light");

        text-align: left;

        padding: to-rem(8px) 0;

        border-bottom: 1px solid #d6d6d6;
      }

      tbody td {
        color: palette("text", "light");

        font-size: to-rem(12px);
        font-weight: 400;

        padding: to-rem(12px) 0;

        // &:not(:last-of-type) {
        border-bottom: 1px solid #eee;
        // }
      }

      .body-item--name {
        max-width: to-rem(320px);
        line-height: 120%;
      }

      &.table-section__table--profiles {
        thead th:last-of-type {
          text-align: right;
        }

        .button-action {
          margin-left: 1rem;
        }
      }
    }
  }

  .table-section__pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-top: to-rem(10px);

    .table-section__pagination__pages {
      color: palette("form", "checkbox");

      font-size: to-rem(12px);
      font-weight: 400;

      margin-right: to-rem(28px);
    }

    .table-section__pagination__buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;

      a {
        width: to-rem(25px);
        height: to-rem(25px);

        border-radius: 50%;
        background-color: palette("text", "light-blue");

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: to-rem(18px);

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
