.toast {
  position: fixed;

  top: 30px;
  right: -400px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  border-radius: 8px;
  padding: to-rem(16px) to-rem(16px);

  z-index: 999;

  border: 1px solid;

  border-left: 4px solid;
  background: #fff;

  min-width: 380px;

  transition: ease 0.8s;

  opacity: 0;

  &.active {
    right: 30px;
    opacity: 1;
  }

  &.toast--warning {
    border-color: #c66407;

    .toast__title {
      color: #c66407;
    }
  }

  &.toast--success {
    border-color: #4f8172;

    .toast__title {
      color: #4f8172;
    }
  }

  &.toast--error {
    border-color: #b00000;

    .toast__title {
      color: #b00000;
    }
  }

  .toast__icon {
    display: flex;
    align-items: flex-start;

    margin-right: 1rem;
  }

  .toast__title {
    font-size: to-rem(16px);
    font-weight: 700;
    line-height: 130%;

    display: block;

    margin-bottom: to-rem(10px);
  }

  .toast__text {
    color: #3d3d3d;

    font-size: to-rem(14px);
    font-weight: 400;
    line-height: 130%;

    display: block;

    max-width: 250px;

    strong {
      font-weight: 700;
    }
  }

  .toast__close {
    position: absolute;
    top: to-rem(20px);
    right: to-rem(16px);
    display: flex;
    align-items: flex-start;
  }
}
