.sidebar {
    position: fixed;

    top: 0;
    left: 0;

    width: to-rem(73px);
    height: 100%;
    z-index: 9;

    background-color: palette('background', 'sidebar');

    padding: to-rem(24px) 0;

    border-right: 1px solid #C3C3C3;

    transition: ease .4s;

    &.opened {
        width: to-rem(176px);

        .sidebar__button {
            .sidebar__button__icon {
                transform: rotate(180deg);
            }
        }

        .sidebar__view-links li .sidebar__view-links__link .sidebar__view-links__link__text {
            opacity: 1;
        }
    }

    .sidebar__home-link {
        margin-bottom: to-rem(28px);
    }

    a {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding-left: to-rem(24px);
    }

    &>nav {
        height: calc(100% - 80px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &>ul {
            display: block;
            width: 100%;
        }
    }

    .sidebar__view-links {
        overflow: hidden;

        li {
            display: block;

            .sidebar__view-links__link {
                min-width: to-rem(175px);
                height: to-rem(54px);
                position: relative;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                &::after {
                    content: "";
                    display: none;

                    position: absolute;
                    top: 0;
                    left: 0;

                    border-radius: 0px 8px 8px 0px;
                    background: #4380E5;

                    width: to-rem(5px);
                    height: 100%;
                }

                .sidebar__view-links__link__icon {
                    display: none;
                    width: to-rem(28px);

                    img {
                        width: to-rem(28px);
                        height: to-rem(24px);
                        object-fit: contain;
                        object-position: center;
                    }

                    &.sidebar__view-links__link__icon--normal {
                        display: block;
                    }
                }

                .sidebar__view-links__link__text {
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: left;

                    opacity: 0;
                    transition: ease .4s;

                    color: palette('text', 'light-blue');

                    font-family: 'Redonda';

                    width: calc(100% - 28px);

                    display: inline-block;
                    margin-left: 1rem;
                }

                &.active {
                    .sidebar__view-links__link__icon--active {
                        display: block;
                    }

                    .sidebar__view-links__link__icon--normal {
                        display: none;
                    }

                    &::after {
                        display: block;
                    }

                    .sidebar__view-links__link__text {
                        color: palette('primary');
                    }
                }
            }

        }
    }

    .sidebar__footer {
        .sidebar__footer-links__link--profile {
            margin-top: 1rem;

            padding-left: to-rem(12px);
        }

        .sidebar__footer-links__link--notification {
            .wrapper {
                width: to-rem(25px);
                height: to-rem(28px);
                position: relative;
            }

            &.sidebar__footer-links__link--notification--has-notification {
                .wrapper::after {
                    content: "";
                    display: block;

                    width: to-rem(9px);
                    height: to-rem(9px);

                    background-color: palette('red');

                    border-radius: 50%;

                    position: absolute;
                    top: 3px;
                    right: 0;
                }
            }
        }

        .sidebar__footer-links__link--profile {
            .wrapper {
                width: to-rem(50px);
                height: to-rem(50px);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: contain;
                }
            }
        }
    }

    .sidebar__button {
        position: absolute;

        bottom: to-rem(27px);
        right: to-rem(-40px);

        width: to-rem(27px);
        height: to-rem(27px);

        border-radius: 50%;

        background-color: palette('background', 'sidebar');

        border: 1px solid palette('primary');

        display: flex;
        align-items: center;
        justify-content: center;

        transition: ease .4s;

        cursor: pointer;
    }
}