.authentication {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: palette("white");

  .authentication_thumb {
    background-image: url("@/assets/images/authentication-background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    height: 100vh;

    padding: to-rem(70px);

    img {
      width: 100%;
      object-fit: contain;
      display: block;
      max-height: to-rem(470px);
    }
  }

  .authentication__view {
    width: 60%;
    height: 100vh;
    padding: to-rem(104px);

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;

    .authentication__view__logo {
      margin-bottom: to-rem(74px);
    }

    .authentication__view__title {
      color: #000;

      font-size: to-rem(28px);
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      margin-bottom: to-rem(24px);

      text-align: center;

      display: block;

      width: 100%;
    }

    .form--validate-account {
      h2 {
        margin-bottom: to-rem(8px);
      }

      p {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: block;
        text-align: center;
        margin-bottom: to-rem(20px);
      }

      .input-digits {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: to-rem(20px);

        &.error {
          .input-digits__item {
            input {
              border-radius: 4px;
              border: 1px solid #b00000;
              color: #b00000;
              background: #f6dede;
            }
          }
        }

        .input-digits__item {
          input {
            border-radius: 4px;
            border: 1px solid #828282;
            background: #eee;
            margin-right: to-rem(20px);

            display: flex;
            align-items: center;
            justify-content: center;

            width: 53px;
            height: 62px;

            color: palette("text");

            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            text-align: center;

            &:focus {
              border: 1px solid #4380e5;
              color: #4380e5;
              background: #ecf3ff;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      legend {
        color: #828282;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        display: block;
        text-align: center;

        margin-bottom: to-rem(52px);

        a {
          color: palette("blue");
        }
      }

      .button {
        margin: 0 auto;
        width: 200px;
        display: block;
      }
    }

    .validate-success h1 {
      margin-top: to-rem(113px);
    }
  }

  &.authentication--recovery-password {
    h1 {
      margin-bottom: to-rem(14px);

      & ~ p {
        margin-bottom: to-rem(33px);
      }
    }

    .button {
      max-width: to-rem(210px);
      margin: 0 auto;

      & ~ p {
        margin-top: 1rem;
        color: #828282
      }
    }
  }
}
