.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    flex: 1;

    // cursor: pointer;

    a {
      display: block;
      color: #c3c3c3;
      font-size: to-rem(14px);
      font-weight: 400;

      text-align: center;

      padding-top: 0.5rem;
      padding-bottom: 0.5rem;

      border-bottom: 2px solid #c3c3c3;
    }

    .tabs__icon {
      display: inline-block;
      margin-right: to-rem(22px);
    }

    .tabs__icon--active {
      display: none;
    }

    &.active {
      a {
        color: palette("blue");
        font-weight: 700;
        border-color: palette("blue");
      }
      
      .tabs__icon {
        display: none;
      }

      .tabs__icon--active {
        display: inline-block;
      }
    }
  }
}

.tab-section {
}

.view--register-service {
  .form {
    padding: to-rem(28px) to-rem(32px);
  }
}
