.button {
  border-radius: to-rem(4px);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: to-rem(14px);
  line-height: 100%;
  text-align: center;

  padding: to-rem(12px) to-rem(12px);

  border: none;
  cursor: pointer;

  .button__icon {
    display: inline-block;
    margin-left: to-rem(39px);

    &.button__icon--left-side {
      margin-right: to-rem(12px);
      margin-left: 0;
    }
  }

  &.button--filter {
    margin-left: to-rem(12px);
  }

  &.button--text-left {
    justify-content: flex-start;
    text-align: left;
  }

  &.button--light {
    font-weight: 400;
  }

  &.button--full {
    width: 100%;
  }

  &.button--primary {
    background-color: palette("button", "primary");
    color: palette("white");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("button", "primary-hover");
    }
  }

  &.button--outline {
    border: 1px solid palette("primary");
    background-color: transparent;
    color: palette("primary");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("primary");
      color: palette("white");
    }
  }

  &.button--link {
    border: 1px solid transparent;
    background-color: transparent;
    color: palette("primary");

    transition: ease 0.3s;

    &:hover {
      border-color: palette("primary");
    }
  }

  &.button--icon {
    border: none;
    background-color: transparent;
    color: palette("primary");

    transition: ease 0.3s;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 8px 0;

    .button__icon {
      margin-left: 8px;
      display: inline-block;
    }

    &:hover {
      // text-decoration: underline;
    }
  }

  &.button--orange {
    background-color: palette("button", "orange");
    color: palette("white");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("button", "orange-hover");
    }
  }

  &.button--blue {
    background-color: palette("button", "blue");
    color: palette("white");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("button", "blue-hover");
    }
  }

  &.button--blue-dark {
    background-color: palette("button", "blue-dark");
    color: palette("white");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("button", "blue-dark-hover");
    }
  }

  &.button--blue-darkest {
    background-color: palette("button", "blue-darkest");
    color: palette("white");

    transition: ease 0.3s;

    &:hover {
      background-color: palette("button", "blue-darkest-hover");
    }
  }

  &.button--transparent {
    background-color: transparent;
    color: palette("button", "primary-dark");

    transition: ease 0.3s;

    &:hover {
      background-color: transparent;
    }
  }

  &:disabled {
    background-color: #c3c3c3 !important;
    color: #828282 !important;

    transition: ease 0.3s;

    &:hover {
      background-color: #c3c3c3 !important;
      color: #828282 !important;
      cursor: text;
    }
  }

  &.button--social {
    border: 1px solid #1c1c1c;
    background: #1c1c1c;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: palette("white");

    display: flex;
    align-items: center;

    padding: to-rem(9px);

    margin-left: to-rem(12px);

    img,
    svg {
      display: inline-block;
      margin: 0;
      margin-right: 1rem;

      transition: ease 0.3s;
    }

    transition: ease 0.3s;

    &:hover {
      background-color: palette("white");
      color: #1c1c1c;

      svg path {
        fill: #1c1c1c;
      }
    }
  }
}
